html {
	background: #FFF;
}
body {
	width: 100%;
	height: 100%;
}
#question\{QID\} {
	background: #FFF;
}

/* hide task buttons */
div.ButtonContainer.hidden {
	display: none;
}

/* hide disabled navigation buttons */
#ls-button-previous:disabled,
#ls-button-submit:disabled {
    display: none;
}
#navbar select+label:before,
#navbar label+label:before {
	content: "\a";
	white-space: pre-line;
}